<!-- navbar.component.html -->

<nav class="navbar">
    <mat-toolbar color="primary">
        <div class="logo-container">
            <img src="./assets/images/saree.png" alt="logo" class="logo" />
        </div>
        <a class="nav-link" routerLink="/inventory">Inventory</a>
        <a class="nav-link" routerLink="/orders">Orders</a>
        <a class="nav-link" routerLink="/designer-management">Designer Management</a>
        <a class="nav-link" routerLink="/client-management">Client Management</a>

    </mat-toolbar>
</nav>